<a href="https://colab.research.google.com/github/MinalSheikh24/MinalSheikh24/blob/main/Neo4j_Social_Media.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Click to Create a New SandBox

[Create new sandbox](https://sandbox.neo4j.com/?usecase=blank-sandbox&_ga=2.240152963.1039916755.1677513528-1336861260.1677513528)

Install

In [46]:
!pip install -q py2neo

Imports

In [47]:

from py2neo import Graph
from py2neo import Node
from py2neo import Relationship
import pandas as pd

Establish a Connection

In [48]:

graph = Graph("bolt://44.193.209.114:7687",
              user="neo4j",
              password="fruit-wines-assaults")

Social Media Nodes

In [49]:

Instagram = Node("Social_Media", title="Instagram", tagline="Capture and Share the World's Moments")
Facebook = Node("Social_Media",  title="Facebook", tagline="It's quick and easy")
WhatsApp = Node("Social_Media",  title="WhatsApp", tagline="Hey there, I am using WhatsApp")
SnapChat = Node("Social_Media", title="SnapChat", tagline="THe fastest way to share a moment")
Youtube = Node("Social_Media", title="Youtube", tagline="Broadcast Yourself")
Twitter = Node("Social_Media", title="Twitter", tagline="Here, your voice matters")
LinkedIn = Node("Social_Media", title="LinkedIn", tagline="Sum up your Professional Brand")

User Nodes

In [50]:
from socket import MSG_NOSIGNAL
Ali = Node("Person", name="Ali Khan", dob=1968, country="Pakistan", sex="Male")
Aliza = Node("Person", name="Aliza Khalid", dob=1969, country="Pakistan", sex="Female")
Sufyan = Node("Person", name="Sufyan Sarwar", dob=1967, country="Pakistan", sex="Male")
Ahmad = Node("Person", name="Ahmad Talib", dob=1967, country="Pakistan", sex="Male")
Minal = Node("Person", name="Minal Sheikh", dob=1967, country="Pakistan", sex="Female")
Zara = Node("Person", name="Zara Dar", dob=1971, country="Pakistan", sex="Female")

Arbab = Node("Person", name="Arbab Zahoor ", dob=1980, country="Iran", sex="Male")
Hussnain = Node("Person", name="Hussnain Tareen ", dob=1960, country="Iran", sex="Male")
Ayesha = Node("Person", name="Ayesha Khan ", dob=1986, country="Iran", sex="Female")
Maryam = Node("Person", name="Maryam Waheed ", dob=1988, country="Iran", sex="Female")
Shazia = Node("Person", name="Shazia Ahmad", dob=1985, country="Iran", sex="Female")
Rehan = Node("Person", name="Rehan Saeed ", dob=1965, country="Iran", sex="Male")
Faran = Node("Person", name="Faran Naeem ", dob=1975, country="Iran", sex="Male")
Sadat = Node("Person", name="Sadat Ali", dob=1987, country="Iran", sex="Male")
Noman = Node("Person", name="Noman Shah ", dob=1990, country="Iran", sex="Male")

Essa = Node("Person", name="Essa Khan", dob=2001, country="USA", sex="Male")
Yusuf = Node("Person", name="Yusaf", dob=2006, country="USA", sex="Male")
Hania = Node("Person", name="Hania Amir", dob=2005, country="USA", sex="Female")
Mahnoor = Node("Person", name="Mahnoor Nadeem", dob=2001, country="USA", sex="Female")
Arshia = Node("Person", name="Arshia Malik", dob=1998, country="USA", sex="Female")
Mehmood = Node("Person", name="Mehmood Ahmad", dob=1999, country="USA", sex="Male")
Chaudary = Node("Person", name="Chaudary Dar ", dob=1999, country="USA", sex="Male")

Storing Nodes in Graphs

In [51]:
graph.create(Instagram | Facebook | WhatsApp | SnapChat
             | Youtube | Twitter | LinkedIn)

In [52]:
graph.create(Hania | Minal | Arshia | Mehmood | Noman
             | Rehan | Zara | Ali | Shazia | Essa | Sufyan
             | Maryam | Yusuf | Chaudary | Ayesha |Mahnoor | Aliza
             | Ahmad | Faran | Sadat | Hussnain)

Adding Relationship between Social Media Nodes & User Nodes

In [53]:
graph.create(Relationship(Arshia, "Uses", Twitter, joinedyear=2014, screentime=47, rating=3))
graph.create(Relationship(Essa, "Uses", LinkedIn, joinedyear=2010, screentime=64, rating=5))
graph.create(Relationship(Essa, "Uses", Twitter, joinedyear=2013, screentime=60, rating=4.6))
graph.create(Relationship(Mehmood, "Uses", Facebook, joinedyear=2019, screentime=97, rating=4.5))
graph.create(Relationship(Noman, "Uses", Facebook, joinedyear=2018, screentime=20, rating=3))
graph.create(Relationship(Rehan, "Uses", Facebook, joinedyear=2016, screentime=69, rating=4.9))
graph.create(Relationship(Zara, "Uses", Facebook, joinedyear=2013, screentime=94, rating=1))
graph.create(Relationship(Zara, "Uses", LinkedIn, joinedyear=2011, screentime=34, rating=4.8))
graph.create(Relationship(Ali, "Uses", Youtube, joinedyear=2008, screentime=104, rating=4.6))
graph.create(Relationship(Ali, "Uses", Twitter, joinedyear=2016, screentime=24, rating=1.8))
graph.create(Relationship(Ali, "Uses", Instagram, joinedyear = 2014, screentime = 120, rating = 4.8))
graph.create(Relationship(Shazia, "Uses", Youtube, joinedyear=2009, screentime=14, rating=5))
graph.create(Relationship(Shazia, "Uses", SnapChat, joinedyear=2013, screentime=36, rating=3.8))
graph.create(Relationship(Shazia, "Uses", LinkedIn, joinedyear=2017, screentime=20, rating=4))
graph.create(Relationship(Hania, "Uses", Facebook, joinedyear=2016, screentime=30, rating=2))
graph.create(Relationship(Hania, "Uses", WhatsApp, joinedyear=2016, screentime=70, rating=3))
graph.create(Relationship(Hania, "Uses", Instagram, joinedyear=2012, screentime=150, rating=4.9))
graph.create(Relationship(Minal, "Uses", WhatsApp, joinedyear=2018, screentime=100, rating=4))

graph.create(Relationship(Noman, "Uses", WhatsApp, joinedyear=2010, screentime=25, rating=5))
graph.create(Relationship(Minal, "Uses", WhatsApp, joinedyear=2011, screentime=10, rating=4))
graph.create(Relationship(Rehan, "Uses", WhatsApp, joinedyear=2012, screentime=15, rating=5))
graph.create(Relationship(Mehmood, "Uses", WhatsApp, joinedyear=2013, screentime=30, rating=4))
graph.create(Relationship(Zara, "Uses", WhatsApp, joinedyear=2014, screentime=35, rating=5))
graph.create(Relationship(Essa, "Uses", WhatsApp, joinedyear=2015, screentime=40, rating=4))
graph.create(Relationship(Ali, "Uses", WhatsApp, joinedyear=2016, screentime=45, rating=5))
graph.create(Relationship(Shazia, "Uses", WhatsApp, joinedyear=2017, screentime=50, rating=4))
graph.create(Relationship(Arshia, "Uses", WhatsApp, joinedyear=2018, screentime=55, rating=5))

graph.create(Relationship(Yusuf , "Uses", Instagram, joinedyear=2018, screentime=80, rating=5))
graph.create(Relationship(Chaudary, "Uses", Twitter, joinedyear=2014, screentime=20, rating=3))
graph.create(Relationship(Ayesha, "Uses", Instagram, joinedyear=2015, screentime=130, rating=4))
graph.create(Relationship(Mahnoor, "Uses", Instagram, joinedyear=2017, screentime=100, rating=4))
graph.create(Relationship(Aliza, "Uses", Instagram, joinedyear=2018, screentime=40, rating=4))
graph.create(Relationship(Ahmad, "Uses", LinkedIn, joinedyear=2019, screentime=10, rating=3))
graph.create(Relationship(Faran, "Uses", Youtube, joinedyear=2013, screentime=30, rating=3))
graph.create(Relationship(Sadat, "Uses", Instagram, joinedyear=2010, screentime=40, rating=4))
graph.create(Relationship(Hussnain, "Uses", Instagram, joinedyear=2012, screentime=50, rating=5))

graph.create(Relationship(Minal, "Uses", Facebook, joinedyear=2017, screentime=43, rating=2))
graph.create(Relationship(Essa, "Uses", Twitter, joinedyear=2012, screentime=84, rating=4))
graph.create(Relationship(Essa, "Uses", LinkedIn, joinedyear=2014, screentime=134, rating=1))
graph.create(Relationship(Essa, "Uses", Youtube, joinedyear=2014, screentime=64, rating=4.8))
graph.create(Relationship(Sufyan, "Uses", Twitter, joinedyear=2010, screentime=54, rating=2.9))
graph.create(Relationship(Sufyan, "Uses", SnapChat, joinedyear=2015, screentime=76, rating=3.8))
graph.create(Relationship(Sufyan, "Uses", WhatsApp, joinedyear=2019, screentime=87, rating=2.6))
graph.create(Relationship(Maryam, "Uses", Facebook, joinedyear=2017, screentime=29, rating=4.9))
graph.create(Relationship(Maryam, "Uses", SnapChat, joinedyear=2018, screentime=48, rating=2.8))
graph.create(Relationship(Maryam, "Uses", WhatsApp, joinedyear=2009, screentime=86, rating=1.6))

Which social media platform has the most number of users? (Top 5)

In [54]:
query1 = """
MATCH (p:Person)-[]->(s:Social_Media)
RETURN s.title, COUNT(*) AS Users
ORDER BY Users DESC
LIMIT 5
"""

result1 = graph.run(query1)
for d in result1:
    print(d)

'WhatsApp'	48
'Instagram'	30
'Facebook'	28
'Youtube'	19
'Twitter'	19

Which platform has the highest rating?

In [55]:
query2 = """
MATCH (p:Person)-[r]->(s:Social_Media)
RETURN s.title AS Title, AVG(r.rating) AS Rating
ORDER BY Rating DESC
"""

result2 = graph.run(query2)
for d in result2:
    print(d)

'Instagram'	4.493333333333335
'Youtube'	4.294736842105263
'WhatsApp'	4.016666666666667
'SnapChat'	3.3733333333333335
'LinkedIn'	3.3058823529411763
'Facebook'	3.1857142857142864
'Twitter'	3.021052631578948

What is the total screen time for a user & which social media platform has the most screen time?

In [56]:
query3 = """
MATCH (p:Person)-[r]->(s:Social_Media)
RETURN DISTINCT p.name AS Name, s.title,SUM(r.screentime) AS Total
ORDER BY Total DESC
LIMIT 10
"""

result3 = graph.run(query3)

df = pd.DataFrame(result3, columns = ["User", "Social Media", "Screen Time"])

In [57]:
df

             User Social Media  Screen Time
0      Hania Amir    Instagram          450
1       Essa Khan     LinkedIn          402
2    Ayesha Khan     Instagram          390
3        Ali Khan    Instagram          360
4        Ali Khan      Youtube          312
5  Mahnoor Nadeem    Instagram          300
6   Mehmood Ahmad     Facebook          291
7        Zara Dar     Facebook          282
8   Sufyan Sarwar     WhatsApp          261
9  Maryam Waheed      WhatsApp          258

Find the Eldest Person & the Youngest Person with their choice of Social Media

In [64]:

query4 = """
MATCH (p:Person)-[r]->(s:Social_Media)
SET p.Name = 'Eldest Person :'
RETURN p.Name, p.name AS Name, 2022-p.dob AS Age, s.title
ORDER BY Age DESC
LIMIT 1
UNION ALL
MATCH (p:Person)-[r]->(s:Social_Media)
SET p.Name = 'Youngest Person: '
RETURN p.Name ,p.name AS Name, 2022-p.dob AS Age, s.title
ORDER BY Age
LIMIT 1
"""

In [ ]:

result4 = graph.run(query4)
for d in result4:
    print(d)

Find the number of male & female users for each social media platform.

In [59]:
query5 = """
MATCH (p:Person)-[r]->(s:Social_Media)
WHERE p.sex="Male"
SET p.surname = 'Male'
RETURN s.title, COUNT(*),p.surname AS count
ORDER BY count DESC
UNION ALL
MATCH (p:Person)-[r]->(s:Social_Media)
WHERE p.sex="Female"
SET p.surname = 'Female'
RETURN s.title, COUNT(*),p.surname AS count
ORDER BY count DESC
"""

result5 = graph.run(query5)
for d in result5:
    print(d)

'Instagram'	14	'Male'
'WhatsApp'	25	'Male'
'Facebook'	13	'Male'
'SnapChat'	6	'Male'
'LinkedIn'	9	'Male'
'Twitter'	15	'Male'
'Youtube'	13	'Male'
'WhatsApp'	23	'Female'
'LinkedIn'	8	'Female'
'SnapChat'	9	'Female'
'Youtube'	6	'Female'
'Facebook'	15	'Female'
'Instagram'	16	'Female'
'Twitter'	4	'Female'